footer {
    background-color: #1F5014;
}

.back-to-top {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    transition: all 0.3s;
    text-align: left;
    white-space: nowrap;
}

.back-to-top:hover {
    text-decoration: underline;
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}

.left-footer {
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    padding-top: 5%;
}

.right-credits{
    text-align: right;
    color: white;
    font-size: 14px;
}

.right-credits i{
    margin-bottom: 15%;
}

a:hover i.fa-linkedin {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}

a:hover i.fa-envelope {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}

a:hover i.fa-square-github {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}