*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
}

.welcome-page{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.welcome-left h2{
    font-size: 3vw;
    font-weight: 400;
}

.welcome-right img {
    width: 100%; 
    max-width: 70%;
    transition: all 0.3s;
    float: right;
}

.welcome-right img:hover {
    transform: scale(1.1);
    
}

.welcome-left{
   display: inline-block;
   flex: 1;
}

.welcome-right {
    flex-shrink: 0;
    margin-left: auto;
}

.welcome-left button {
    font-family: 'Rubik', sans-serif;
    background-color: #cbddd1;
    margin-top: 20%;
    border-radius: 20px;
    padding: 7%;
    border-color: transparent;
    font-size: 1vw;
    transition: all 0.3s;
}

.welcome-left button:hover {
    transform: scale(1.1);
    background-color: #1F5014;
    color: white;
}

