*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
}

.welcome-page{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.welcome-page h2{
    font-size: xx-large;
    font-weight: 400;
}

.home-img {
    width: 378px;
    transition: all 0.3s;
}

.home-img:hover {
    transform: scale(1.1);
}

.welcome-left{
   
}

.welcome-left button {
    font-family: 'Rubik', sans-serif;
    background-color: #cbddd1;
    margin-top: 100px;
    border-radius: 20px;
    padding: 10px;
    border-color: transparent;
    font-size: 18px;
    transition: all 0.3s;
}

.welcome-left button:hover {
    transform: scale(1.1);
    background-color: #1F5014;
    color: white;
}

